.btn { 
    width: 100%; 
    display: block; 
    font-size: 50px;
    height: 14.28%;
}

.modal-content {
    font-size: 50px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

#sidebar {
    background-color: aqua;
    min-width: 500px;
    max-width: 500px;
}

.hide {
    margin-left: -500px;
}

#content {
    width: 100%;
    height: 100%;
}
