<div>
    <div class="wrapper">
        <nav id="sidebar" class="{{sidebarClass}}">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <div id="content" class="container-fluid">
            <div ng-repeat="zone in sprinkler.values track by $index">
                <div class="col-xs-6" ng-if="$even">
                    <button id="1" type="button" class="btn btn-primary btn-sprinker" ng-class="{'btn-success':  zone, 'disabled': sprinkler.mode != 'MANUAL'}" ng-click="toggleZone($index)">{{$index + 1}}</button>
                </div>
                <div class="col-xs-6" ng-if="$odd">
                    <button id="2" type="button" class="btn btn-primary btn-sprinker" ng-class="{'btn-success':  zone, 'disabled': sprinkler.mode != 'MANUAL'}" ng-click="toggleZone($index)">{{$index + 1}}</button>
                </div>
            </div>
            <div class="col-xs-6">
                <button type="button" id="sidebarCollapse" class="btn btn-primary btn-sprinker {{gearBtnClass}}" ng-click="toggleSidebar()">
                    <img src="img/sprinkler/gear.png" class="img-sprinkler-gear" />
                </button>
            </div>
            <div class="col-xs-4">
                <button id="AUTO" type="button" class="btn btn-primary btn-sprinker" ng-class="{'btn-success':  sprinkler.mode == 'AUTO'}" ng-click="setMode('AUTO')">Auto</button>
            </div>
            <div class="col-xs-4">
                <button id="MANUAL" type="button" class="btn btn-primary btn-sprinker" ng-class="{'btn-success':  sprinkler.mode == 'MANUAL'}" ng-click="setMode('MANUAL')">Manual</button>
            </div>
            <div class="col-xs-4">
                <button id="CYCLE" type="button" class="btn btn-primary btn-sprinker" ng-class="{'btn-success':  sprinkler.mode == 'CYCLE'}" ng-click="setMode('CYCLE')">Cycle</button>
            </div>
            <div class="col-xs-12">
                <button id="STOP" type="button" class="btn btn-danger btn-sprinker" ng-click="stop()">STOP</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">Not in 'Manual' mode</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>